@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@0;1&family=Lilita+One&family=Poppins:wght@900&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Hebrew:wght@700&display=swap');

:root{
  --bg-color: #14cdfe ;
  --second-bg-color : #112e42;
  --text-color: #ededed;
  --main-color:  #15a0c5 ;
  --black-color: rgb(9, 9, 9);
  --footer-color:  #09667f  ;
}

/* ----------------------------------------------------- */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins" ,sans-serif; */
  font-family: 'Noto Serif Hebrew', serif;
}
body{
  background:  #033c4c ;
  color: var(--text-color);
}

#content_about{
  color: aliceblue;
}

/* header for design */
/* ----------------------------------------------------- */

header{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
}

header .navbar{
  
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation_items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;

}
header .navigation .navigation_items a::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
} 
header .navigation .navigation_items a:hover:before{
  width: 100%;
}
/* ----------------------------------------------------- */
/* section home for design */
/* ----------------------------------------------------- */
section{
  padding: 100px 200px;
}

.home{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background: #15bae7 ; */
}
/* רקע כחול על הוידאו */
.home::before{
  z-index: 777;
  content: '';
  position: absolute;
  background: rgba( 21, 160, 197 , 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .content{
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active{
  display: block;
}

.home .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;

}
.home .content h1 span{
  font-size: 1.2em;
  font-weight: 600;
}
.home .content p{
  margin-bottom: 65px;
  font-size: 1.5em;
}
.home .content a{
  background:  #15a0c5 ;
  padding: 10px 10px;
  color:  #fff ;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
}
/* design for media icons */
.home .media_icons{
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}
.home .media_icons a{
  color:  #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

.home .media_icons a:not(:last-child) {
  margin-bottom: 20px;
}
.home .media_icons a:hover{
  transform: scale(1.5);
  color:  #15bae7 ;
  transition: 0.3s ease;
  
}
/* ----------------------------------------------------- */
/* design for video div */
/* ----------------------------------------------------- */
.home video{
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}
/* ----------------------------------------------------- */
/* design for slider_navigation video*/
/* ----------------------------------------------------- */
.slider_navigation{
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slider_navigation .nav_btn{
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider_navigation .nav_btn.active{
  background: #15a0c5;
}


.slider_navigation .nav_btn:not(last-child){
  margin-right: 20px;
}
.slider_navigation .nav_btn:hover{
  transform: scale(1.2);
}

.video_slide{
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
}
.video_slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
/* ----------------------------------------------------- */
footer {
  position: relative;
  background-color: var(--footer-color);
  padding: 20px;
  text-align: center;
  justify-content: center;
}

/* ----------------------------------------------------- */
/* Mobile phone compatibility */
/* ----------------------------------------------------- */
@media screen and (max-width : 1040px) {

  header{
    padding: 30px 20px;
  }
  section{
    padding: 100px 20px;
  }
    .home .media_icons{
      position: relative;
      right: 15px;
  }
  header .navigation{
    display: none;
  }

  /* header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  } */


  /* header .navigation .navigation_items a{
    position: relative;
    color: black;
    font-size: 1.2em;
    margin: 10px;
  } */

  /* header .navigation .navigation_items a::before{
    background: #222;
    height: 2px;
  }

  header .navigation.active .navigation_items{
    background:  #DAF7A6 ;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1, 1, 1 / 20%); 
  } */

  /* .menu_btn {
    background: url(/img/menu-button.png) no-repeat;
    background-size: 20px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu_btn.active{
    z-index: 999;
    background: url(/img/close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  } */
}
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */
/* ----------------------------------------------------- */